
@font-face {
    font-family:Arctic;
    src:url("Arctic.otf");
}

#root{
    -fx-background-image: url("./line-dot.jpg") no-repeat center center fixed;
    -fx-background-size: cover;

}

#header{
    -fx-font-family:Arctic;
    -fx-font-size: 35px;
    -fx-font-weight: bolder;
    -fx-text-fill: white;
}

.inner{
    -fx-font-family: Arctic;
    -fx-font-size: 15px;
    -fx-text-fill: white;

}

.field{
    -fx-background-color: white;
    -fx-font-family:Arctic;
}

#subtle{
    -fx-font-family: Arctic;
    -fx-font-size: 20px;
    -fx-text-fill: white;

}