
@font-face {
    font-family:Arctic;
    src:url("Arctic.otf");
}
#root{
    -fx-background-image: url("floyd.jpg") no-repeat center center;
    -fx-background-size: cover;
}

.center{
    -fx-padding: 30px;
}
.center .field{
    -fx-background-color: white;
    -fx-font-family: Arctic;
}
#header2{
    -fx-font-family: Arctic;
    -fx-font-weight:bolder;
    -fx-font-size:20px;
}
#header1{
    -fx-font-family: Arctic;
    -fx-font-weight:bolder;
    -fx-font-size:25px;
}
#login , #signup{
    -fx-font-family: Arctic;
    -fx-padding: 5px 20px;
    -fx-font-size:15px;
    -fx-background-color: linear-gradient(to top right,brown,red);
}
